@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  display: block;
  justify-items: center;
  align-items: center;
}
.card-box{
  display: grid;
  width: max-content;
  height: max-content;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 100px;
  margin: 50px auto;
}
.card {
  position: relative;
  width: 100px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  margin: 0; /* Remove any default margin */
  display: inline-block; /* Ensure cards are displayed in-line */
  object-fit: contain;
}
.card-inner {
  position: absolute;
  object-fit: contain;


}
.card img{
  position: absolute;
  width: 100px;
  height: 150px;
  overflow: hidden;
  perspective: 1000px;
  
}

.front, .back {
  width: 100%;
  height: 100px;
  border-color: black;
  border: 5px solid;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.front {
  z-index: 2;
  position: absolute;
  background-color: white;
  background-image: url(./assets/pokeball_bg.jpg);
  background-position: center;
  background-size: contain;
  object-fit: contain;
}
.back {
  transform: rotateY(180deg); /* Initially rotate back image to hide it */
  z-index: 1;
  position: absolute;
}

.flipped .front {
  transform: rotateY(-180deg); 

}

.flipped .back {
  transform: rotateY(0deg); 
}

/*@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
